.divc{
    width: 800px;
    height: 100%;
    margin: 20px;
    border: solid 2px rgb(138, 135, 135);
    padding: 10px;
    text-align: center;
    color:rgb(138, 135, 135);
    background: rgb(202, 202, 207);
}
th,td{
    border: solid 2px gray;
    text-align: center;
    color:black;
    background: white;
    width: 150px;
    height: 30px;
}