<div class="divc">
    <h1>Bank Appication</h1>
    <div>
        <form [formGroup]="city">
                
        <select formControlName="cities" name="cities" id="cities">
            <option  value="mumbai" (click)="mumba(city)">Mumbai</option>
            <option  value="delhi" (click)="delh(city)">Delhi</option>
            <option  value="kolkata" (click)="kolkat(city)">Kolkata</option>
            <option  value="bangalore" (click)="bangalor(city)">Bangalore</option>
            <option  value="cuttack" (click)="cuttac(city)">Cuttack</option>
        </select>
       </form>
    </div>
    <div>
        <table >
            <caption>List of Banks in {{city.value}}</caption>   
            <tr>
              <th>Actions</th>
              <th>Bank Name</th>
              <th>IFSC</th>
              <th>BankID</th>  
              <th>Branch</th>
            </tr>
              <tr *ngFor="let cit of city">
              <td>=></td>
              <td>{{cit.branch_name}}</td>
              <td>{{cit.ifsc}}</td>
              <td>{{cit.bank_id}}</td>
              <td>{{cit.branch}}</td>
            </tr>
        </table>
    </div>
</div>
